.image{
    width: 30rem;
    border-radius: 1rem;
    object-fit: cover;
}

.section{
    padding-inline: 2rem;
    height: 80vh;
    margin-top: -4rem;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.title h3 {
    padding: 10px;
    border-bottom: 3px solid aqua;
    border-left: 3px solid aqua;
}

.info{
    margin-bottom: 2rem;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 5px solid aqua;
    border-radius:1rem;
    transition: 1s;
    margin-top: -2rem;
    width: 10rem;
    font-size: 20px;
}

.btn:hover{
    transform: scale(1.1);
}