.section{
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap: 2rem;
    background-color: rgb(88, 107, 211);
    padding-inline:1rem ;
    height: 8vh;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn{
    width:5rem;
    height: 2rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.btn:hover{
    transform: scale(1.1);
}

.dogo{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 10rem;
    transition: 1s;
}

.dogo::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
}

.dogo:hover::after{
    width: 100%;
    transition: width 1s linear;
}

.dogo:hover{
    color: white;
}

.dogo:hover{
    transform: scale(1.1);
}

.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selector{
    width:7rem;
    height: 1.5rem;
    text-align: center;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    background-color:white;
    color: black;
}
