.section{
    height: 6vh;
    display: flex;
    align-items:center;
    justify-content:space-between;
    gap: 2rem;
    background-color: aqua;
    padding-inline:1rem ;
}

.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selector{
    width:7rem;
    height: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn{
    width:5rem;
    height: 2rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.btn:hover{
    transform: scale(1.1);
}