.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

.section{
    margin: 0;
    height: 80vh;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.pagination li {
    cursor: pointer;
    transition: 0.3s;
}

.pagination li:hover{
    transform: scale(1.1);
}


.active{
    color: aqua;
}

