.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.section{
    height: 87vh;
    margin: 0;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.pagination li {
    cursor: pointer;
    transition: 0.3s;
}

.pagination li:hover{
    transform: scale(1.1);
}


.active{
    color: aqua;
}

.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
}

.selector{
    width:7rem;
    height: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
    color: white;
}
