.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.section{
    height: 90vh;
    margin: 0;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.pagination li {
    cursor: pointer;
    transition: 0.3s;
}

.pagination li:hover{
    transform: scale(1.1);
}


.active{
    color: aqua;
}